
  <h2>User Profile</h2>

  <%= form_for(current_user, url: user_path(current_user)) do |f| %>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: false, autocomplete: "given-name" %>
          </div>
        
          <div class="small-12 medium-6 columns">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: false, autocomplete: "family-name" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.label :telephone %>
            <%= f.telephone_field :telephone, autofocus: false, autocomplete: "tel-national" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: false, autocomplete: "email" %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <%= f.submit "Update Account" %>
          </div>
        </div>
        
  <% end %>

<div>
  <h2>Congregation</h2>
  <p><%= current_user_congregation %></p>
</div>

<%= link_to "Log Out", session_path, method: :delete %>